DB_USER=qualidoc
DB_PASSWORD=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# JWT — générer avec : openssl rand -hex 32
JWT_SECRET=
JWT_ACCESS_EXPIRATION=900
JWT_REFRESH_EXPIRATION=604800

MAIL_HOST=localhost
MAIL_PORT=25
