DB_USER=qualidoc
DB_PASSWORD=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=
KC_HOSTNAME=https://www.lasserre-consulting.fr/qualidoc/auth

MAIL_HOST=localhost
MAIL_PORT=25
